@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@layer base {
    h1 {
        @apply text-yellow text-4xl sm: text-6xl;
    }

    p {
		@apply text-base;
	}
    
    html {
        font-family: Merriweather;
    }
}